!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatBot
    = stylesheet_link_tag    "chat_bot/application", media: "all"
    = javascript_include_tag "chat_bot/application", "chat_bot/nested_form"
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand Chat Bot
    .container
      #banner.page-header
        .row
          .col-lg-8.col-md-7.col-sm-6
            = yield
