= select_tag 'category', options_from_collection_for_select(@categories, "slug", "name"),
  class: 'category_selection selectpicker', 'data-live-search' => true
%button.btn.btn-primary#add-category{type: :button,
  'data-toggle' => "modal", 'data-target' => "#new-category"} Add Category

.modal.fade#new-category{tabindex: -1, role: :dialogue, 'aria-labelledby' => "create-category"}
  .modal-dialog{role: :document}
    .modal-content
      .modal-header
        #flash
        = bootstrap_form_for :category, remote: true do |f|
          = f.text_field :name, input_group_class: 'input-group-lg'
          #errors
          = f.submit


%ul.nav.nav-tabs{role: :tablist}
  %li{role: :presentation, class: :active,
  'aria-controls' => "update", role: "tab", 'data-toggle' => "tab"}
    %a{href: '#update'} Update
  %li{role: :presentation, 'aria-controls' => "new", role: "tab", 'data-toggle' => "tab"}
    %a{href: '#new'} New

.tab-content
  .tab-pane.active#update{role: :tabpanel}
    Hi
  .tab-pane#new{role: :tabpanel}
    Hello

